//! **************************************************************************
// Written by: Map P.20160913 on Sun Oct 14 21:30:34 2018
//! **************************************************************************

SCHEMATIC START;
COMP "io_sel<0>" LOCATE = SITE "P9" LEVEL 1;
COMP "io_sel<1>" LOCATE = SITE "P10" LEVEL 1;
COMP "io_sel<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "io_sel<3>" LOCATE = SITE "P12" LEVEL 1;
COMP "spi_sck" LOCATE = SITE "P43" LEVEL 1;
COMP "spi_channel<0>" LOCATE = SITE "P46" LEVEL 1;
COMP "spi_channel<1>" LOCATE = SITE "P61" LEVEL 1;
COMP "spi_channel<2>" LOCATE = SITE "P62" LEVEL 1;
COMP "spi_channel<3>" LOCATE = SITE "P65" LEVEL 1;
COMP "avr_rx_busy" LOCATE = SITE "P39" LEVEL 1;
COMP "led<0>" LOCATE = SITE "P134" LEVEL 1;
COMP "led<1>" LOCATE = SITE "P133" LEVEL 1;
COMP "led<2>" LOCATE = SITE "P132" LEVEL 1;
COMP "led<3>" LOCATE = SITE "P131" LEVEL 1;
COMP "led<4>" LOCATE = SITE "P127" LEVEL 1;
COMP "led<5>" LOCATE = SITE "P126" LEVEL 1;
COMP "led<6>" LOCATE = SITE "P124" LEVEL 1;
COMP "led<7>" LOCATE = SITE "P123" LEVEL 1;
COMP "avr_rx" LOCATE = SITE "P59" LEVEL 1;
COMP "avr_tx" LOCATE = SITE "P55" LEVEL 1;
COMP "io_dip<10>" LOCATE = SITE "P105" LEVEL 1;
COMP "io_dip<11>" LOCATE = SITE "P104" LEVEL 1;
COMP "io_dip<12>" LOCATE = SITE "P102" LEVEL 1;
COMP "io_dip<20>" LOCATE = SITE "P67" LEVEL 1;
COMP "io_dip<13>" LOCATE = SITE "P101" LEVEL 1;
COMP "io_dip<21>" LOCATE = SITE "P66" LEVEL 1;
COMP "io_dip<14>" LOCATE = SITE "P100" LEVEL 1;
COMP "io_dip<22>" LOCATE = SITE "P58" LEVEL 1;
COMP "io_dip<15>" LOCATE = SITE "P99" LEVEL 1;
COMP "io_dip<23>" LOCATE = SITE "P57" LEVEL 1;
COMP "io_dip<16>" LOCATE = SITE "P79" LEVEL 1;
COMP "io_dip<17>" LOCATE = SITE "P78" LEVEL 1;
COMP "io_dip<18>" LOCATE = SITE "P75" LEVEL 1;
COMP "io_dip<19>" LOCATE = SITE "P74" LEVEL 1;
COMP "io_led<10>" LOCATE = SITE "P82" LEVEL 1;
COMP "io_led<11>" LOCATE = SITE "P83" LEVEL 1;
COMP "io_led<12>" LOCATE = SITE "P80" LEVEL 1;
COMP "io_led<20>" LOCATE = SITE "P22" LEVEL 1;
COMP "io_led<13>" LOCATE = SITE "P81" LEVEL 1;
COMP "io_led<21>" LOCATE = SITE "P23" LEVEL 1;
COMP "io_led<14>" LOCATE = SITE "P11" LEVEL 1;
COMP "io_led<22>" LOCATE = SITE "P24" LEVEL 1;
COMP "io_led<15>" LOCATE = SITE "P14" LEVEL 1;
COMP "io_led<23>" LOCATE = SITE "P26" LEVEL 1;
COMP "io_led<16>" LOCATE = SITE "P15" LEVEL 1;
COMP "io_led<17>" LOCATE = SITE "P16" LEVEL 1;
COMP "io_led<18>" LOCATE = SITE "P17" LEVEL 1;
COMP "io_led<19>" LOCATE = SITE "P21" LEVEL 1;
COMP "spi_ss" LOCATE = SITE "P48" LEVEL 1;
COMP "spi_miso" LOCATE = SITE "P45" LEVEL 1;
COMP "spi_mosi" LOCATE = SITE "P44" LEVEL 1;
COMP "clk" LOCATE = SITE "P56" LEVEL 1;
COMP "io_button<0>" LOCATE = SITE "P137" LEVEL 1;
COMP "io_button<1>" LOCATE = SITE "P140" LEVEL 1;
COMP "io_button<2>" LOCATE = SITE "P139" LEVEL 1;
COMP "io_button<3>" LOCATE = SITE "P142" LEVEL 1;
COMP "io_button<4>" LOCATE = SITE "P138" LEVEL 1;
COMP "cclk" LOCATE = SITE "P70" LEVEL 1;
COMP "io_dip<0>" LOCATE = SITE "P120" LEVEL 1;
COMP "io_dip<1>" LOCATE = SITE "P121" LEVEL 1;
COMP "io_dip<2>" LOCATE = SITE "P118" LEVEL 1;
COMP "io_dip<3>" LOCATE = SITE "P119" LEVEL 1;
COMP "io_dip<4>" LOCATE = SITE "P116" LEVEL 1;
COMP "io_dip<5>" LOCATE = SITE "P117" LEVEL 1;
COMP "io_dip<6>" LOCATE = SITE "P114" LEVEL 1;
COMP "io_dip<7>" LOCATE = SITE "P115" LEVEL 1;
COMP "io_dip<8>" LOCATE = SITE "P112" LEVEL 1;
COMP "io_dip<9>" LOCATE = SITE "P111" LEVEL 1;
COMP "io_led<0>" LOCATE = SITE "P97" LEVEL 1;
COMP "io_led<1>" LOCATE = SITE "P98" LEVEL 1;
COMP "io_led<2>" LOCATE = SITE "P94" LEVEL 1;
COMP "io_led<3>" LOCATE = SITE "P95" LEVEL 1;
COMP "io_led<4>" LOCATE = SITE "P92" LEVEL 1;
COMP "io_led<5>" LOCATE = SITE "P93" LEVEL 1;
COMP "io_led<6>" LOCATE = SITE "P87" LEVEL 1;
COMP "io_led<7>" LOCATE = SITE "P88" LEVEL 1;
COMP "io_led<8>" LOCATE = SITE "P84" LEVEL 1;
COMP "io_led<9>" LOCATE = SITE "P85" LEVEL 1;
COMP "rst_n" LOCATE = SITE "P38" LEVEL 1;
COMP "io_seg<0>" LOCATE = SITE "P5" LEVEL 1;
COMP "io_seg<1>" LOCATE = SITE "P8" LEVEL 1;
COMP "io_seg<2>" LOCATE = SITE "P144" LEVEL 1;
COMP "io_seg<3>" LOCATE = SITE "P143" LEVEL 1;
COMP "io_seg<4>" LOCATE = SITE "P2" LEVEL 1;
COMP "io_seg<5>" LOCATE = SITE "P6" LEVEL 1;
COMP "io_seg<6>" LOCATE = SITE "P1" LEVEL 1;
COMP "io_seg<7>" LOCATE = SITE "P141" LEVEL 1;
TIMEGRP clk = BEL "bcdinput_0" BEL "bcdinput_1" BEL "bcdinput_2" BEL
        "bcdinput_3" BEL "bcdinput_4" BEL "bcdinput_5" BEL "bcdinput_6" BEL
        "bcdinput_7" BEL "AVR/cclk_detector/ctr_q_9" BEL
        "AVR/cclk_detector/ctr_q_8" BEL "AVR/cclk_detector/ctr_q_7" BEL
        "AVR/cclk_detector/ctr_q_6" BEL "AVR/cclk_detector/ctr_q_5" BEL
        "AVR/cclk_detector/ctr_q_4" BEL "AVR/cclk_detector/ctr_q_3" BEL
        "AVR/cclk_detector/ctr_q_2" BEL "AVR/cclk_detector/ctr_q_1" BEL
        "AVR/cclk_detector/ctr_q_0" BEL "AVR/block_q_3" BEL
        "AVR/serial_tx/bit_ctr_q_2" BEL "AVR/serial_tx/bit_ctr_q_1" BEL
        "AVR/serial_tx/bit_ctr_q_0" BEL "AVR/serial_tx/state_q_FSM_FFd1" BEL
        "AVR/serial_tx/state_q_FSM_FFd2" BEL "AVR/serial_tx/ctr_q_6" BEL
        "AVR/serial_tx/ctr_q_5" BEL "AVR/serial_tx/ctr_q_4" BEL
        "AVR/serial_tx/ctr_q_3" BEL "AVR/serial_tx/ctr_q_2" BEL
        "AVR/serial_tx/ctr_q_1" BEL "AVR/serial_tx/ctr_q_0" BEL
        "AVR/serial_tx/tx_q" BEL "AVR/serial_tx/block_q" BEL
        "AVR/serial_tx/data_q_7" BEL "AVR/serial_tx/data_q_6" BEL
        "AVR/serial_tx/data_q_5" BEL "AVR/serial_tx/data_q_4" BEL
        "AVR/serial_tx/data_q_3" BEL "AVR/serial_tx/data_q_2" BEL
        "AVR/serial_tx/data_q_1" BEL "AVR/serial_tx/data_q_0" BEL
        "AVR/spi_slave/bit_ct_q_1" BEL "AVR/spi_slave/bit_ct_q_0" BEL
        "AVR/spi_slave/bit_ct_q_2" BEL "AVR/spi_slave/data_q_7" BEL
        "AVR/spi_slave/data_q_6" BEL "AVR/spi_slave/data_q_5" BEL
        "AVR/spi_slave/data_q_4" BEL "AVR/spi_slave/data_q_3" BEL
        "AVR/spi_slave/data_q_2" BEL "AVR/spi_slave/data_q_1" BEL
        "AVR/spi_slave/data_q_0" BEL "AVR/spi_slave/sck_old_q" BEL
        "AVR/spi_slave/mosi_q" BEL "AVR/spi_slave/sck_q" BEL
        "AVR/spi_slave/ss_q" BEL "AVR/serial_rx/bit_ctr_q_2" BEL
        "AVR/serial_rx/bit_ctr_q_1" BEL "AVR/serial_rx/bit_ctr_q_0" BEL
        "AVR/serial_rx/state_q_FSM_FFd1" BEL "AVR/serial_rx/state_q_FSM_FFd2"
        BEL "AVR/serial_rx/ctr_q_6" BEL "AVR/serial_rx/ctr_q_5" BEL
        "AVR/serial_rx/ctr_q_4" BEL "AVR/serial_rx/ctr_q_3" BEL
        "AVR/serial_rx/ctr_q_2" BEL "AVR/serial_rx/ctr_q_1" BEL
        "AVR/serial_rx/ctr_q_0" BEL "AVR/serial_rx/data_q_7" BEL
        "AVR/serial_rx/data_q_6" BEL "AVR/serial_rx/data_q_5" BEL
        "AVR/serial_rx/data_q_4" BEL "AVR/serial_rx/data_q_3" BEL
        "AVR/serial_rx/data_q_2" BEL "AVR/serial_rx/data_q_1" BEL
        "AVR/serial_rx/data_q_0" BEL "AVR/serial_rx/rx_q" BEL
        "input_process/generate_sync[0].bit_sync/cdc_reg1" BEL
        "input_process/generate_sync[0].bit_sync/cdc_reg2" BEL
        "input_process/generate_sync[1].bit_sync/cdc_reg1" BEL
        "input_process/generate_sync[1].bit_sync/cdc_reg2" BEL
        "input_process/generate_sync[2].bit_sync/cdc_reg1" BEL
        "input_process/generate_sync[2].bit_sync/cdc_reg2" BEL
        "input_process/generate_sync[3].bit_sync/cdc_reg1" BEL
        "input_process/generate_sync[3].bit_sync/cdc_reg2" BEL
        "input_process/generate_sync[4].bit_sync/cdc_reg1" BEL
        "input_process/generate_sync[4].bit_sync/cdc_reg2" BEL
        "input_process/generate_sync[5].bit_sync/cdc_reg1" BEL
        "input_process/generate_sync[5].bit_sync/cdc_reg2" BEL
        "input_process/generate_sync[6].bit_sync/cdc_reg1" BEL
        "input_process/generate_sync[6].bit_sync/cdc_reg2" BEL
        "input_process/generate_sync[7].bit_sync/cdc_reg1" BEL
        "input_process/generate_sync[7].bit_sync/cdc_reg2" BEL
        "input_process/process_hit/async_bit_out_7" BEL
        "input_process/process_hit/async_bit_out_6" BEL
        "input_process/process_hit/async_bit_out_5" BEL
        "input_process/process_hit/async_bit_out_4" BEL
        "input_process/process_hit/async_bit_out_3" BEL
        "input_process/process_hit/async_bit_out_2" BEL
        "input_process/process_hit/async_bit_out_1" BEL
        "input_process/process_hit/async_bit_out_0" BEL
        "input_process/process_hit/prev_hit_7" BEL
        "input_process/process_hit/prev_hit_6" BEL
        "input_process/process_hit/prev_hit_5" BEL
        "input_process/process_hit/prev_hit_4" BEL
        "input_process/process_hit/prev_hit_3" BEL
        "input_process/process_hit/prev_hit_2" BEL
        "input_process/process_hit/prev_hit_1" BEL
        "input_process/process_hit/prev_hit_0" BEL "SSD/Reader_3" BEL
        "SSD/Reader_2" BEL "SSD/Reader_0" BEL "AVR/spi_slave/miso_q" BEL
        "AVR/cclk_detector/ready_q" BEL "AVR/serial_tx/busy_q" BEL
        "input_process/process_hit/new_hit" BEL "led_0" BEL "AVR/busy_q" BEL
        "SSD/count_10" BEL "SSD/count_9" BEL "SSD/count_8" BEL "SSD/count_7"
        BEL "SSD/count_6" BEL "SSD/count_5" BEL "SSD/count_4" BEL
        "SSD/count_3" BEL "SSD/count_2" BEL "SSD/count_1" BEL "SSD/count_0"
        BEL "SSD/count_11" BEL "SSD/count_12" BEL "SSD/count_13" BEL
        "SSD/count_14" BEL "SSD/count_15" BEL "SSD/io_sel_3" BEL
        "SSD/io_sel_2" BEL "SSD/io_sel_1" BEL "SSD/io_sel_0" BEL
        "SSD/Reader_1" BEL "clk_BUFGP/BUFG" BEL "AVR/Mshreg_block_q_2" BEL
        "AVR/block_q_2";
TS_clk = PERIOD TIMEGRP "clk" 50 MHz HIGH 50%;
SCHEMATIC END;

